* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}
.container {
  display: flex;
}
.buttons {
  margin-left: 25px;
  display: inline-block;
  align-items: center;
}
/* style start button */
.start {
  width: 100px;
  display: inline-flex;
  align-items: center;
  color: #000;
  background: rgb(13, 148, 13) !important;
  padding: 0.4rem 0.9rem;
  border: 3px solid;
  border-radius: 8px;
  cursor: pointer;
}
.start:hover {
  border-radius: 8px;
  transform: scale(1.05);
}
/* setting size the icon */
.icon {
  width: 20px;
  margin-right: 8px;
}
/* style rotation button */
.rotation {
  width: auto;
  display: inline-flex;
  align-items: center;
  color: #000;
  background: grey !important;
  padding: 0.4rem 0.9rem;
  border: 3px solid;
  border-radius: 8px;
  cursor: pointer;
}
.rotation:hover {
  border-radius: 8px;
  transform: scale(1.05);
}
.grid-usuario {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  margin: 25px;
}
.grid div {
  width: 40px;
  height: 40px;
}
.grid-maquina {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: darkcyan;
  margin: 25px;
}

.grid-display {
  width: 400px;
  height: 400px;
  background-color: goldenrod;
  margin: 25px;
}

.destroyer-container {
  width: 80px;
  height: 40px;
  background-color: rgb(30, 255, 0);
  margin: 10px;
  display: flex;
}
.destroyer-container-vertical {
  width: 40px;
  height: 80px;
  background-color: rgb(30, 255, 0);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.submarino-container {
  width: 120px;
  height: 40px;
  background-color: rgb(0, 68, 255);
  margin: 10px;
  display: flex;
}

.submarino-container-vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(0, 68, 255);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cruzador-container {
  width: 120px;
  height: 40px;
  background-color: rgb(89, 0, 255);
  margin: 10px;
  display: flex;
}

.cruzador-container-vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(89, 0, 255);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.navio-container {
  width: 160px;
  height: 40px;
  background-color: rgb(255, 72, 0);
  margin: 10px;
  display: flex;
}

.navio-container-vertical {
  width: 40px;
  height: 160px;
  background-color: rgb(255, 72, 0);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.portaavioes-container {
  width: 200px;
  height: 40px;
  background-color: rgb(174, 0, 255);
  margin: 10px;
  display: flex;
}

.portaavioes-container-vertical {
  width: 40px;
  height: 200px;
  background-color: rgb(174, 0, 255);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ship div {
  width: 40px;
  height: 40px;
}
.destroyer {
  background-color: rgb(30, 255, 0);
}

.submarino {
  background-color: rgb(0, 68, 255);
}

.cruzador {
  background-color: rgb(89, 0, 255);
}

.navio {
  background-color: rgb(255, 72, 0);
}

.portaavioes {
  background-color: rgb(174, 0, 255);
}
