* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}
.container {
  display: flex;
}
/* style buttons */

button {
  border-radius: 8px;
  padding: 0.6em;
  line-height: 24px;
  align-items: center;
}
#singlePlayerButton {
  width: 100px;
  align-items: center;
  color: #fff;
  background: #65c7f7 !important;
  border: 3px solid;
  border-radius: 6px;
  cursor: pointer;
}
#singlePlayerButton:hover {
  border-radius: 8px;
  background: #65c7f7 !important;
  opacity: 0.6;
}
#multiPlayerButton {
  width: 100px;
  align-items: center;
  color: #fff;
  background: #0052d4 !important;
  border: 3px solid;
  border-radius: 6px;
  cursor: pointer;
}
#multiPlayerButton:hover {
  background: #0052d4 !important;
  opacity: 0.6;
}
#start {
  width: 100px;
  align-items: center;
  color: #fff;
  background: rgb(13, 148, 13) !important;
  border: 3px solid;
  border-radius: 6px;
  cursor: pointer;
}
#start:hover {
  border-radius: 8px;
  background: rgb(13, 148, 13, 0.7) !important;
}
#rotate {
  width: 100px;
  align-items: center;
  color: #fff;
  background: rgb(72, 79, 80) !important;
  border: 3px solid;
  border-radius: 6px;
  cursor: pointer;
}
#rotate:hover {
  border-radius: 8px;
  background: rgba(72, 79, 80, 0.6) !important;
}
/* setting size the icon */
.icon {
  width: 20px;
  margin-right: 8px;
}
/* style rotation button */

.nome-campo {
  text-align: center;
}
.grid-usuario {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 25px;
}
.grid div {
  width: 40px;
  height: 40px;
  border: 1px solid black !important;
}
.grid-maquina {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 25px;
}

.hidden {
  background-color: white !important;
}

.grid-display {
  width: 400px;
  height: 400px;
  background-color: goldenrod;
  margin: 25px;
}

.destroyer-container {
  width: 80px;
  height: 40px;
  background-color: rgb(30, 255, 0);
  margin: 10px;
  display: flex;
}
.destroyer-container-vertical {
  width: 40px;
  height: 80px;
  background-color: rgb(30, 255, 0);
  margin: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

.submarino-container {
  width: 120px;
  height: 40px;
  background-color: rgb(0, 68, 255);
  margin: 10px;
  display: flex;
}

.submarino-container-vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(0, 68, 255);
  margin: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

.cruzador-container {
  width: 120px;
  height: 40px;
  background-color: rgb(89, 0, 255);
  margin: 10px;
  display: flex;
}

.cruzador-container-vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(89, 0, 255);
  margin: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

.navio-container {
  width: 160px;
  height: 40px;
  background-color: rgb(255, 72, 0);
  margin: 10px;
  display: flex;
}

.navio-container-vertical {
  width: 40px;
  height: 160px;
  background-color: rgb(255, 72, 0);
  margin: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

.portaavioes-container {
  width: 200px;
  height: 40px;
  background-color: rgb(174, 0, 255);
  margin: 10px;
  display: flex;
}

.portaavioes-container-vertical {
  width: 40px;
  height: 200px;
  background-color: rgb(174, 0, 255);
  margin: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

.ship div {
  width: 40px;
  height: 40px;
}

.destroyer {
  background-color: rgb(30, 255, 0);
}

.submarino {
  background-color: rgb(0, 68, 255);
}

.cruzador {
  background-color: rgb(89, 0, 255);
}

.navio {
  background-color: rgb(255, 72, 0);
}

.portaavioes {
  background-color: rgb(174, 0, 255);
}
.boom {
  background-color: red;
}
.miss {
  background-color: aqua;
}
.connected,
.ready {
  font-weight: normal;
}

.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: red;
}
span.green {
  background-color: green;
}
